@import "_variables";
$icon-font-path: "/static/fonts/";

@import "bootstrap";
@import "ladda";

html, body {
  height: 100%;
}

.row {
  margin: 0;
}

#settings-block {
  @include make-xs-column(10);
  @include make-sm-column(6);
  @include make-md-column(4);
  @include transition(width 0.3s);

  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  position: absolute;
  z-index: 9999;
  form {
    @include transition(opacity 0.3s);
    flex: 1;
    padding: 15px;
  }
  .footer {
    @include transition(opacity 0.3s);
    background: black;
    padding: 5px 15px;
    width: 100%;
    z-index: 9999;
  }
  &.collapsed {
    width: 72px;
    .navbar-brand {
      display: none;
    }
    form, .footer {
      opacity: 0;
    }
  }
}

.navbar {
  border: none;
  margin: 0;
  .navbar-toggle {
    display: block !important;
  }
}

#chart {
  height: 100%;
  padding-left: 72px;
}
