@import "bootstrap/variables";
$icon-font-path: "/static/fonts/";

@import "_bootstrap";
@import "ladda";

html, body {
  height: 100%;
}

.row {
  margin: 0;
}

#settings-block {
  @include make-xs-column(10);
  @include make-sm-column(6);
  @include make-md-column(4);

  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  padding: 0;
  position: absolute;
  @include transition(left 0.3s);
  z-index: 9999;

  &.collapsed {
    .navbar-brand,
    form,
    .footer {
      opacity: 0;
    }
  }

  .navbar-brand {
    @include transition(opacity 0.3s);
  }

  form {
    flex: 1;
    padding: 15px;
    @include transition(opacity 0.3s);
  }

  .footer {
    background: black;
    padding: 5px 15px;
    @include transition(opacity 0.3s);
    width: 100%;
    z-index: 9999;
  }
}

.navbar {
  border: none;
  margin: 0;

  .navbar-toggle {
    display: block !important;
  }
}

.btn {
  margin-bottom: 20px;
}

.alert-inverse {
  &.alert-warning {
    $inverted-alert-warning-text: $alert-warning-bg;
    $inverted-alert-warning-bg: $alert-warning-text;
    $inverted-alert-warning-border: darken(adjust-hue($inverted-alert-warning-bg, -10), 5%);
    @include alert-variant($inverted-alert-warning-bg, $inverted-alert-warning-border, $inverted-alert-warning-text);
  }

  &.alert-danger {
    $inverted-alert-danger-text: $alert-danger-bg;
    $inverted-alert-danger-bg: $alert-danger-text;
    $inverted-alert-danger-border: darken(adjust-hue($inverted-alert-danger-bg, -10), 5%);
    @include alert-variant($inverted-alert-danger-bg, $inverted-alert-danger-border, $inverted-alert-danger-text);
  }
}

#alert-message {
  margin-left: 0.5em;
}

#chart {
  height: 100%;
  padding-left: 72px;
}
