Flask==0.10.1
Flask-Assets==0.10
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
arrow==0.4.4
enum34==1.0
gevent==1.0.1
greenlet==0.4.4
itsdangerous==0.24
lastfmclient==0.0.4
python-dateutil==2.2
redis==2.10.3
requests==2.4.3
rom==0.29.0
six==1.8.0
webassets==0.10.1
