<!DOCTYPE html>
<html lang="en">
  <head>
    {%- block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {%- endblock %}

    <title>{% block title -%} Elaborate Last.fm charts {%- endblock %}</title>

    {%- block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_all.css') }}">
    {%- endblock %}

    {%- block head %}
    {%- endblock %}

    {%- block head_tail %}
    {%- endblock %}
  </head>

  <body>
    {%- block body %}
    {%- endblock %}

    {%- block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js_all.js') }}"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    {%- endblock %}

    {%- block tail %}
    {%- endblock %}
  </body>
</html>
