{% extends 'base.html' %}

{% block body %}
<div class="row">
  <div id="settings-block">
    <nav class="navbar navbar-inverse">
      <span class="navbar-brand">Elaborate Charts</span>
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </nav>
    <form role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" name="username" placeholder="Enter your username" value="sacret19" />
      </div>
      <div class="form-group">
        <label for="chart-type">Chart type</label>
        <select id="chart-type" class="form-control" name="chart-type">
          <option value="artist" selected>Artists</option>
          <option value="album">Albums</option>
          <option value="track">Tracks</option>
        </select>
      </div>
      <div class="form-group">
        <label for="number-of-positions">Number of positions</label>
        <select id="number-of-positions" class="form-control" name="number-of-positions">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20" selected>20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="form-group">
        <label for="timeframe">Default timeframe</label>
        <select id="timeframe" class="form-control" name="timeframe">
          <option value="last-7-days">Last 7 days</option>
          <option value="last-month">Last month</option>
          <option value="last-3-months" selected>Last 3 months</option>
          <option value="last-6-months">Last 6 months</option>
          <option value="last-12-months">Last 12 months</option>
          <option value="overall">Overall</option>
        </select>
      </div>
      <div class="form-group">
        <div class="checkbox text-left">
          <label>
            <input type="checkbox" id="cumulative" checked> Cumulative
          </label>
        </div>
      </div>
      <button class="btn btn-primary btn-block ladda-button" type="button" id="submit" data-style="slide-left">Submit</button>
    </form>
  </div>
</div>

<div id="chart">&nbsp;</div>
{% endblock %}
